<div class="row">

    <h2> Our Products</h2>
    <div class="col-10">

    </div>
    <div class="col-2">
            <button class="btn btn-info" (click)="create()"style="color: aliceblue;"> + Add Product </button>
    </div>

<!--    <div class="col=10">-->
<!--        <br>-->
        <table class="table  table-striped table-hover">
            <thead  class="thead-dark">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Qty</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of products">
                <td>{{data.name}}</td>
                <td>{{data.qty}}</td>
                <td> LKR {{data.price}}</td>
                <td>{{data.status}}</td>
                <td *ngIf="data.status !== 'deleted'">
                    <button class="btn btn-warning" style="margin-right: 4px" (click)="update(data)" style="color: aliceblue;"> Update </button>&nbsp;
                    <button class="btn btn-danger" style="margin-right: 4px" (click)="remove(data._id)" style="color: aliceblue;"> Remove </button>
                </td>
            </tr>

            </tbody>
        </table>
<!--    </div>-->

</div>
